PORT=3000
DATABASE_URL="mysql://root:nBLyXswRhhWMcgHRrxvqtrBwOBpsvlga@mysql.railway.internal:3306/railway"
JWT_SECRET="your_strong_jwt_secret_key_here"

# Konfigurasi Pengiriman Email Reset Password (Gmail SMTP)
EMAIL_USER="your-email@example.com"
EMAIL_PASS="your-app-password"
CLIENT_URL="sistem-donasi-frontend-production.up.railway.app"
